* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    /* text */
    --dark-highlight: hsl(238, 29%, 16%);
    --color-highlight: hsl(14, 88%, 65%);
    --dark: hsl(237, 12%, 33%);
    --medium: hsl(240, 6%, 50%);

    /* gradient */
    --bg-color-one: hsl(273, 75%, 66%);
    --bg-color-two: hsl(240, 73%, 65%);

    /* divs */
    --light: hsl(240, 5%, 91%);
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700;800&display=swap');

body {
    font-size: 12px;
    font-family: 'Kumbh Sans';
    background-color: var(--bg-color-one);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card {
    background-color: white;
    width: 327px;
    border: 1px solid black;
    position: relative;
    border-radius: 23px;
}

.card::before {
    content: "";
    background-image: url(images/illustration-woman-online-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    z-index: 1;
    height: 237px;
    width: 180px;
    top: -140px;
    left: 90px;
}

h1 {
    padding-top: 70px;
    text-align: center;
    font-size: 32px;
}

li::after {
    content:"";
    border-top: 1px solid var(--light);
    display: block;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: white;
    border: none;
    color: var(--dark);
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    border: none;
    color: var(--color-highlight);
}

button::after {
    content:"";
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.active {
    color: var(--dark-highlight);
    font-weight: 700;
}

.acrd-content {
    color: var(--medium)
}

.viz-hidden {
    height: 0;
    opacity: 0;
}