* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* text */

  --dark-highlight: #1d1e35;
  --color-highlight: hsl(14, 88%, 65%);
  --dark: hsl(237, 12%, 33%);
  --medium: hsl(240, 6%, 50%);

  /* gradient */
  --bg-color-one: hsl(273, 75%, 66%);
  --bg-color-two: hsl(240, 73%, 65%);

  /* divs */
  --light: rgb(231, 231, 233);
}

img {
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700;800&display=swap");

body {
  font-size: 12px;
  font-family: "Kumbh Sans";
  background-color: var(--bg-color-one);
  display: flex;
  justify-content: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 0px solid rgba(146, 146, 146, 0);
  border-bottom: 1px solid var(--light);
  margin-bottom: 18px;
}

.hidden {
  display: none;
}

.card {
  margin-top: 148px;
  margin-bottom: 40px;
  background-color: white;
  width: 327px;
  position: relative;
  border-radius: 23px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0px 50px 50px -20px #35127a7f;
}

button {
  background-color: white;
  border: none;
  color: var(--dark);
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  border: none;
  color: var(--color-highlight);
}

button:focus-visible {
  /* https://stackoverflow.com/questions/31402576/enable-focus-only-on-keyboard-use-or-tab-press */
  color: var(--color-highlight);
}

.card::before {
  content: "";
  background-image: url(images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  z-index: 1;
  width: 237px;
  height: 180px;
  top: -100px;
  left: 50px;
}

h1 {
  margin-top: 132px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
  color: var(--dark-highlight);
}

h2 {
  margin-bottom: 18px;
}

p {
  margin-bottom: 16px;
  color: var(--medium);
}

svg {
  float: right;
  margin-top: 10px;
}

/* would like to select data attribute area-exapanded = "True" but no internet right now to look up how to do" */

.active {
  color: var(--dark-highlight);
  font-weight: 700;
}

/*

button::after {
  content: "";
  background-image: url(images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
}


.acrd-content {
  color: var(--medium);
}

.viz-hidden {
  height: 0;
  opacity: 0;
}
*/
