/* var colors */

:root {
    --teal: #4D96A9;
    --medium-teal: #71C0D4;
    --light-teal: #8FE3F9;
    --purple: #855FB1;
    --medium-purple: #B18BDD;
    --light-purple: #D9B8FF;
    --dark: #28283D;
    --light: #FAFAFA;
    --medium: #87879D;
    --numerator: #D8D8D8;
}

/* reset */

* { box-sizing: border-box; margin:0; padding:0 }

/* font defaults from style sheet */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
}

.content {
    position: relative;
}

h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    color: var(--dark);
}

h1.small {
    font-size: 40px;
    line-height: 44px;
}

h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: var(--dark);
}

h2.small {
    font-size: 32px;
    line-height: 36px;
}

.overline {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--teal);
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--medium);
}

p.small {
    font-size: 16px;
    line-height: 26px;
}

@media screen and (min-width: 561px){
    br.small {
        display: none;
    }

    h2.small {
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (min-width: 1049px){
    br.small {
        display: none;
    }

    h1.small {
        font-size: 64px;
        line-height: 64px;
    }

    p.small {
        font-size: 18px;
        line-height: 26px;
    }
}

/* standard buttons from style sheet */

.button {
    padding:15px 31px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--light);
    background-color: var(--dark);
    text-decoration: none;
    width: max-content;
}

/*
.button-a:active, .button-b:active {
    position:relative;
    top:1px;
}
*/

.button-a {
    background-color: var(--teal);
}

span.a {
    color: var(--light-teal)
}

.button-a:hover {
    background-color: var(--medium-teal);
}

.button-b {
    background-color: var(--purple);
}

span.b {
    color: var(--light-purple)
}

.button-b:hover {
    background-color: var(--medium-purple);
}

/* logo */

#logo {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 54px;
}

/* hero banner */
.hero-container {
    margin: 0 auto;
    margin-bottom: 48px;
    background-image: url(assets/desktop/image-hero-left.png), url(assets/desktop/image-hero-right.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: calc(100% - 50vw), calc(50vw + 16px);
    width:100vw;
    height:153px;
    
}
@media screen and (min-width: 561px){
    .hero-container {
        height: 303px;
    }

}
@media screen and (min-width: 1049px){
    .hero-container{
        height: 358px;
        position: absolute;
        background-position: calc(65% - 50vw), calc(50vw + 35%);
        z-index:-10;
    }
}

/* numerator icons */


.vertical-line {
    height: 84px;
    width:1px;
    border-left:1px solid var(--numerator);
    margin: 0 auto;
    margin-top: 64px;
}

.circle {
    width: 56px;
    height: 56px;
    border: 1px solid var(--numerator);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--medium);
    margin-bottom: 64px;
}

.second-line {
    margin-top: calc(64px - 28px);
}

.second-circle {
    margin-bottom:0;
    z-index: 200;
    background-color:white;
}

.second-numerator{
    position: relative;
    top: 28px;
    z-index: 200;
}

@media screen and (min-width: 561px){
    .vertical-line {
        margin-top: 80px;
    }

    .circle {
        margin-bottom: 67px;
    }

    .second-line {
        margin-top: calc(80px - 28px);
    }

    .second-circle {
        margin-bottom:0;
    }

}
@media screen and (min-width: 1049px){
    .vertical-line {
        margin-top: 110px;
    }

    .circle {
        margin-bottom: 64px;
    }

    .second-line {
        margin-top: calc(110px - 28px);
    }

    .second-circle {
        margin-bottom:0;
    }
}

/* pitch 1 */

.pitch1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 330px;
    height: 354px;
    margin: 0 auto;
}

.pitch1 .text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 190px;
}

.pitch1 .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 132px;
}

@media screen and (min-width: 561px){

    .pitch1 {
        max-width: 497px;
        height: 262px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .pitch1 .buttons {
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        width: 328px;
        align-items: center;
    }


}
/* pitch2 */

.pitch2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 330px;
    height: 284px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (min-width: 561px){

    .pitch2{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 613px;
        height: 240px;
    }
}




/* second section (but no overlay) */

.section2 {
    width: 100%;
    height: 428px;
    background-color:var(--teal);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
}

.section2 p,
.section2 h2 {
    color:var(--light);
    max-width: 327px;
    z-index: 98;
}

.section2 .button {
    z-index: 98;
}

@media screen and (min-width: 1049px){
    .section2 {
        height: 308px;
        flex-direction: row;
        text-align: left;
    }

    .section2 p {
        max-width: 335px;
    }
}


/***** complicated elements that change ******/
/*********************************************/

    /* image tile */

.image-tile-container{
    display: grid;
    grid-template-columns: 151px 151px;
    gap: 10px;
    background-size: 20px;
    width: 100vw;
    height: 310px;
    margin-bottom: 64px;
}

.tile:nth-child(1) {
    background-image: url(assets/desktop/image-woman-in-videocall.jpg);
    position: relative;
    right: calc(100% - 50vw);
}
.tile:nth-child(2){
    background-image: url(assets/desktop/image-women-videochatting.jpg);
    position: relative;
    right: calc(100% - 50vw);
}
.tile:nth-child(3) {
    background-image: url(assets/desktop/image-men-in-meeting.jpg);
    position: relative;
    right: calc(100% - 50vw);
}
.tile:nth-child(4) {
    background-image: url(assets/desktop/image-man-texting.jpg);
    position: relative;
    right: calc(100% - 50vw);
}

.tile {
    border-radius: 10px;
    background-size:contain;
}


@media screen and (min-width: 561px){
    body {
    /*background-color: blue;*/
    overflow: hidden;
    }
    .image-tile-container{
        grid-template-columns: 164px 164px 164px 164px;
        gap: 10px;
        width: 100vw;
        height: 156px;
        margin-bottom: 48px;
    }
    .tile:nth-child(1) {
        position: relative;
        right: unset;
        right: calc(210% - 50vw);
    }
    .tile:nth-child(2){
        position: relative;
        right: unset;
        right: calc(210% - 50vw);
    }
    .tile:nth-child(3) {
        position: relative;
        right: unset;
        right: calc(210% - 50vw);
    }
    .tile:nth-child(4) {
        position: relative;
        right: unset;
        right: calc(210% - 50vw);
    }
}

@media screen and (min-width: 1049px){
    body {
    /*background-color: green;*/
    }

    .image-tile-container{
        grid-template-columns: 255px 255px 255px 255px;
        gap: 10px;
        width: 100vw;
        height: 242px;
        margin-bottom: 80px;
    }
    .tile:nth-child(1) {
        position: relative;
        right: unset;
        right: calc(205% - 50vw);
    }
    .tile:nth-child(2){
        position: relative;
        right: unset;
        right: calc(205% - 50vw);
    }
    .tile:nth-child(3) {
        position: relative;
        right: unset;
        right: calc(205% - 50vw);
    }
    .tile:nth-child(4) {
        position: relative;
        right: unset;
        right: calc(205% - 50vw);
    }

}

    /* second section image and overlay */

.overlay {
    background-image: url(assets/mobile/image-footer.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0.1045;
    width:100%;
    height:100%;
    position: absolute;

}

@media screen and (min-width: 561px){
    .overlay {
        background-image: url(assets/tablet/image-footer.jpg);
    }
}

@media screen and (min-width: 1049px){
    .overlay {
        background-image: url(assets/desktop/image-footer.jpg);
        background-position: center;
    }
}